# Rename this file to .env after you edit it

# Leave blank to disable
DOCS_URL=/docs
REDOC_URL=/redoc

# Port to run the api on
HTTP_PORT=8000

# MYSQL Settings
MYSQL_USER = someuser
MYSQL_PASSWORD = somepassword
MYSQL_DATABASE = PalAPI

# Do not change these
MYSQL_RANDOM_ROOT_PASSWORD = yes
SQL_HOST = palapidb
MYSQL_PORT = 3306
